In [89]:
import pandas as pd
import numpy as np
import pickle

In [90]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [91]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [92]:
df_train.shape

(47628, 784)

In [93]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.set_image_data_format('channels_last')

In [94]:
labels=np.array(labels)

In [95]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [96]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [97]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [98]:
l=[]
for i in range(labels.size):
    l.append(np.array(df_train[i:i+1]).reshape(28, 28, 1))

In [99]:
np.random.seed(7)

In [100]:
model = Sequential()
model.add(Conv2D(30, (5,5), activation = 'relu', input_shape = (28, 28, 1)))
model.add(MaxPooling2D(pool_size = (2,2)))
model.add(Conv2D(15, (3,3), activation = 'relu'))
model.add(MaxPooling2D(pool_size = (2,2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation = 'relu'))
model.add(Dense(50, activation = 'relu'))
model.add(Dense(13, activation = 'softmax'))

# Compile model
model.compile(loss = 'categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
model.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_21 (Conv2D)           (None, 24, 24, 30)        780
_________________________________________________________________
max_pooling2d_15 (MaxPooling (None, 12, 12, 30)        0
_________________________________________________________________
conv2d_22 (Conv2D)           (None, 10, 10, 15)        4065
_________________________________________________________________
max_pooling2d_16 (MaxPooling (None, 5, 5, 15)          0
_________________________________________________________________
dropout_7 (Dropout)          (None, 5, 5, 15)          0
_________________________________________________________________
flatten_7 (Flatten)          (None, 375)               0
_________________________________________________________________
dense_21 (Dense)             (None, 128)               48128
_________________________________________________________________
dense_22 (Dense)             (None, 50)                6450
_________________________________________________________________
dense_23 (Dense)             (None, 13)                663
=================================================================
Total params: 60,086
Trainable params: 60,086
Non-trainable params: 0
_________________________________________________________________

In [101]:
history = model.fit(np.array(l), cat, epochs = 15, batch_size = 200, shuffle = True, verbose = 1)

Epoch 1/15
239/239 [==============================] - 15s 62ms/step - loss: 1.5837 - accuracy: 0.6131
Epoch 2/15
239/239 [==============================] - 15s 62ms/step - loss: 0.3389 - accuracy: 0.8980
Epoch 3/15
239/239 [==============================] - 16s 69ms/step - loss: 0.2179 - accuracy: 0.9348
Epoch 4/15
239/239 [==============================] - 16s 67ms/step - loss: 0.1609 - accuracy: 0.9511
Epoch 5/15
239/239 [==============================] - 16s 68ms/step - loss: 0.1343 - accuracy: 0.9587
Epoch 6/15
239/239 [==============================] - 15s 64ms/step - loss: 0.1092 - accuracy: 0.96640s - l
Epoch 7/15
239/239 [==============================] - 15s 63ms/step - loss: 0.0942 - accuracy: 0.9717
Epoch 8/15
239/239 [==============================] - 16s 65ms/step - loss: 0.0836 - accuracy: 0.9752
Epoch 9/15
239/239 [==============================] - 23s 95ms/step - loss: 0.0750 - accuracy: 0.9769
Epoch 10/15
239/239 [==============================] - 19s 79ms/step - loss: 0.0650 - accuracy: 0.9799
Epoch 11/15
239/239 [==============================] - 18s 74ms/step - loss: 0.0630 - accuracy: 0.9799
Epoch 12/15
239/239 [==============================] - 17s 70ms/step - loss: 0.0575 - accuracy: 0.9823
Epoch 13/15
239/239 [==============================] - 16s 66ms/step - loss: 0.0509 - accuracy: 0.9841
Epoch 14/15
239/239 [==============================] - 16s 66ms/step - loss: 0.0468 - accuracy: 0.9856
Epoch 15/15
239/239 [==============================] - 16s 66ms/step - loss: 0.0445 - accuracy: 0.9863

In [102]:
model_json = model.to_json()

with open("model.json", "w") as json_file:
    json_file.write(model_json)

#Serializing weights to HDF5
model.save_weights("model.h5")